@import '../../styles/_variables';
@import '../../styles/_animations';
@import '../../styles/_mixins';

#projects {
  padding-top: 7rem;
  @include extraSmallThruSmallBreakpoints {
    padding: 9rem 0 1rem 0;
  }
  @include mediumBreakpoint {
    padding: 9rem 0 1rem 0;
    margin: 0;
  }
  @include largeBreakpoint {
    padding-bottom: 1rem;
  }
  @include extraLargeBreakpoint {
    margin: 0;
  }
  .wrapper > .subtitle {
    text-align: left;
    margin-bottom: .75rem;
  }
  .wrapper > .projects-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    font-size: 1.2rem;
    @include extraSmallThruSmallBreakpoints {
      font-size: 1.1rem;
    }
    @include mediumBreakpoint {
      font-size: 1.1rem;
    }
    @include largeBreakpoint {
      grid-template-columns: 1fr;
    }
  }
}